div.container{
  display: grid;
  grid-template-columns: repeat(20,400px);
  grid-template-rows: repeat(9,100px);
  position: absolute;
  top: 5%;
  column-gap: 10px;
  row-gap: 2px;
  justify-self: center;
}

div.col{
  height: 900px;
  width: 400px;
}

div.dropping-box{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: .5;
}

div.content-row{
  background-color: white;
  font-weight: 600;
  text-align: justify;
  justify-self: center;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.col-header{
  grid-row: 1/2;
  font-weight: 800;
  text-align: center;
  padding: 5px;
  background-color:black;
  color: white;
}

div.bg-color-purple{
  background-color: rgb(109, 24, 247);
}

div.bg-color-orange{
  background-color: rgb(216, 86, 16);
}

div.bg-color-green{
  background-color: rgb(18, 54, 61);
}

div.bg-color-blue{
  background-color: rgb(13, 40, 146);
}
